body {
  margin: 15px;
  padding: 0;
  font-size: 100%;
  line-height: 1;
  background-color: rgb(49, 48, 48);
  color: white;
}
p > span {
  color: orange;
  font-style: italic;
}
p::first-letter {
  font-size: 3em;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
h1,
h3 {
  color: rgb(6, 6, 48);
}
dt {
  color: orange;
}
article img {
  border-radius: 50%;
  width: 200px;
  height: 200px;
}
header {
  background-color: rgb(104, 104, 114);
  height: 50px;
}
footer {
  background-color: rgb(104, 104, 114);
}
a {
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
